[submodule "libs/sphinxbase"]
	path = libs/sphinxbase
	url = https://github.com/cmusphinx/sphinxbase.git
[submodule "libs/pocketsphinx"]
	path = libs/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx.git
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
